
:root{
    --color: rgba(161, 30, 170, 0.286); /*bg  var*/
}
nav{
    width:100%;    
    background:var(--color);
    box-shadow: 1px 1px 10px rgba(3, 3, 3, 0.496);
    position: fixed;
    top:0;
    left:0;
}
.nav-container{
    width:90%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
    padding:0.5em;

    height:9vh;
}
nav ul{
    display:flex;
    list-style-type: none;
}
nav li{
    margin-left:2em;
}
nav a{
    text-decoration: none;
    color:#FFF;
    outline: none;
}